:root {
  --dl-color-ui-5: rgba(247, 248, 249, 1);
  --dl-color-ui-6: rgba(255, 255, 255, 1);
  --dl-color-gray-500: #595959;
  --dl-color-gray-700: #999999;
  --dl-color-gray-900: #D9D9D9;
  --dl-color-ui-error: rgba(255, 92, 92, 1);
  --dl-color-content-1: rgba(43, 46, 51, 1);
  --dl-color-content-2: rgba(145, 148, 153, 1);
  --dl-color-content-3: rgba(210, 212, 216, 1);
  --dl-color-content-4: rgba(237, 239, 242, 1);
  --dl-size-size-large: 144px;
  --dl-size-size-small: 48px;
  --dl-color-danger-300: #A22020;
  --dl-color-danger-500: #BF2626;
  --dl-color-danger-700: #E14747;
  --dl-color-gray-black: #000000;
  --dl-color-gray-white: rgba(255, 255, 255, 1);
  --dl-size-size-medium: 96px;
  --dl-size-size-xlarge: 192px;
  --dl-size-size-xsmall: 16px;
  --dl-space-space-unit: 16px;
  --dl-color-brand-hover: rgba(17, 91, 233, 1);
  --dl-color-primary-100: #003EB3;
  --dl-color-primary-300: #0074F0;
  --dl-color-primary-500: #14A9FF;
  --dl-color-primary-700: #85DCFF;
  --dl-color-success-300: #199033;
  --dl-color-success-500: #32A94C;
  --dl-color-success-700: #4CC366;
  --dl-size-size-xxlarge: 288px;
  --dl-color-content-onui: rgba(16, 96, 233, 1);
  --dl-size-size-maxwidth: 1200px;
  --dl-color-brand-default: rgba(16, 96, 233, 1);
  --dl-radius-radius-round: 50%;
  --dl-space-space-halfunit: 8px;
  --dl-space-space-sixunits: 96px;
  --dl-space-space-twounits: 32px;
  --dl-color-content-onbrand: rgba(255, 255, 255, 1);
  --dl-radius-radius-radius2: 2px;
  --dl-radius-radius-radius4: 4px;
  --dl-radius-radius-radius8: 8px;
  --dl-space-space-fiveunits: 80px;
  --dl-space-space-fourunits: 64px;
  --dl-space-space-threeunits: 48px;
  --dl-color-static_black-fill: rgba(0, 0, 0, 1);
  --dl-color-static_black-overlay: rgba(0, 0, 0, 0.6000000238418579);
  --dl-space-space-oneandhalfunits: 24px;
}
.button {
  color: var(--dl-color-gray-black);
  display: inline-block;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.input {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.textarea {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.list {
  width: 100%;
  margin: 1em 0px 1em 0px;
  display: block;
  padding: 0px 0px 0px 1.5rem;
  list-style-type: none;
  list-style-position: outside;
}
.list-item {
  display: list-item;
}
.teleport-show {
  display: flex !important;
}
.content {
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.emailH1 {
  font-size: 32px;
  font-style: normal;
  font-family: Arial;
  font-weight: 700px;
  font-stretch: normal;
}
.bodyPMobile {
  font-size: 16px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 400px;
  font-stretch: normal;
}
.emailButtonLabel {
  font-size: 14px;
  font-style: normal;
  font-family: Arial;
  font-weight: 700px;
  font-stretch: normal;
}
.bodyCaptionMobile {
  font-size: 14px;
  font-style: italic;
  font-family: Poppins;
  font-weight: 500px;
  font-stretch: normal;
}
.emailPBold {
  font-size: 18px;
  font-style: normal;
  font-family: Arial;
  font-weight: 700px;
  font-stretch: normal;
}
.headerH3Desktop {
  font-size: 16px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600px;
  font-stretch: normal;
}
.emailPDefault {
  font-size: 18px;
  font-style: normal;
  font-family: Arial;
  font-weight: 400px;
  font-stretch: normal;
}
.miscFooter {
  font-size: 12px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600px;
  font-stretch: normal;
}
.emailH2 {
  font-size: 24px;
  font-style: normal;
  font-family: Arial;
  font-weight: 700px;
  font-stretch: normal;
}
.emailPLink {
  font-size: 18px;
  font-style: normal;
  font-family: Arial;
  font-weight: 400px;
  font-stretch: normal;
}
.bodyLabelMobile {
  font-size: 14px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600px;
  font-stretch: normal;
}
.miscButtonLabel {
  font-size: 16px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600px;
  font-stretch: normal;
}
.headerH1Mobile {
  font-size: 24px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600px;
  font-stretch: normal;
}
.formsPrimary {
  font-size: 16px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600px;
  font-stretch: normal;
}
.headerH2Desktop {
  font-size: 40px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600px;
  font-stretch: normal;
}
.bodyLabelDesktop {
  font-size: 16px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600px;
  font-stretch: normal;
}
.miscNav {
  font-size: 16px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 400px;
  font-stretch: normal;
}
.formsSecondary {
  font-size: 16px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 400px;
  font-stretch: normal;
}
.headerH3Mobile {
  font-size: 14px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600px;
  font-stretch: normal;
}
.bodyCallout {
  font-size: 88px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 400px;
  font-stretch: normal;
}
.headerH1Desktop {
  font-size: 32px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600px;
  font-stretch: normal;
}
.headerH2Mobile {
  font-size: 24px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600px;
  font-stretch: normal;
}
.bodyPDesktop {
  font-size: 20px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 400px;
  font-stretch: normal;
}
.emailH3 {
  font-size: 12px;
  font-style: normal;
  font-family: Arial;
  font-weight: 700px;
  font-stretch: normal;
}
.bodyCaptionDesktop {
  font-size: 16px;
  font-style: italic;
  font-family: Poppins;
  font-weight: 500px;
  font-stretch: normal;
}
